# python bytecode
__pycache__/
*.py[cod]
*$py.class

# distribution anc packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# virtual environments
venv/
.env/
.envrc
.venv/

# OS and editor junk
.DS_Store
.vscode/
*.swp
*.swo

# pytest / testing / coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.log

# misc
*.out
*.tmp
